<div id="app-loan" class="container-fluid"
     *ngIf="{
        multiScreen : ui.multiScreen$ | async,
        multiDocs : ui.multiDocs$ | async,
        loanContactsShow : ui.loanContacts$ | async
      } as compData">

  <!--
  Non-multiscreen
  -->
  <div class="row" *ngIf="!compData.multiScreen">
    <div class="col-12 col-md-5" [ngClass]="compData.loanContactsShow ? 'col-lg-5' : 'col-lg-6' ">
      <div style="height: calc(100vh - 96px);position:relative;">
        <app-viewer></app-viewer>
      </div>
    </div>
    <div class="col-12 col-md-7" [ngClass]="compData.loanContactsShow ? 'col-lg-5' : 'col-lg-6' ">

      <div class="mb-3">
        <div class="card">
          <div class="card-block">

            <div class="alert alert-danger icon" *ngIf="loan?.exceptionReason && !exceptionCleared">
              <button class="btn btn-primary btn-sm float-right ml-3" (click)="exceptionCleared = true"><i class="fa fa-remove"></i> Clear Exception</button>
              {{loan?.exceptionReason}}
            </div>

            <app-loan-info></app-loan-info>
          </div>
        </div>
      </div>

      <div id="app-forms">

        <ngb-tabset #tab="ngbTabset" class="nav-tabs-sm" [activeId]="tabStart">

          <ngb-tab id="tab-1">
            <ng-template ngbTabTitle>
              <i class="fa fa-warning yellow"></i> Needs Verification
            </ng-template>
            <ng-template ngbTabContent>

              <ng-container *ngIf="{ocr : loanCurrentOcr$ | async, loan: loanCurrent$ | async} as data">
                <app-form-title *ngIf="data.ocr && data.loan"
                                [ocr]="data.ocr"
                                [formData]="data.loan">
                </app-form-title>
              </ng-container>

            </ng-template>
          </ngb-tab>

          <ngb-tab id="tab-2">
            <ng-template ngbTabTitle>
              <i class="fa fa-check green"></i> Verified
            </ng-template>
            <ng-template ngbTabContent>

              <ng-container *ngIf="{loan: loanCurrent$ | async} as data">
                <app-form-title *ngIf="data.loan"
                                [formData]="data.loan">
                </app-form-title>
              </ng-container>

            </ng-template>
          </ngb-tab>

          <ngb-tab id="tab-3">
            <ng-template ngbTabTitle>
              <i class="fa fa-file-pdf-o"></i> Document Status
            </ng-template>
            <ng-template ngbTabContent>
              <app-document-status></app-document-status>
            </ng-template>
          </ngb-tab>

        </ngb-tabset>

      </div>


    </div>
    <!-- Loan Contacts Sidebar -->
    <div class="col-12 col-md-3 col-lg-2" *ngIf="compData.loanContactsShow">
      <app-loan-contacts [loanNumber]="settings.lnkey" [contacts]="contacts$ | async"></app-loan-contacts>
    </div>
  </div>


  <!--
  Multiscreen
  -->
  <div class="row" *ngIf="compData.multiScreen">

    <div class="col-12" [ngClass]="compData.loanContactsShow ? 'col-lg-4' : 'col-lg-5' ">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-warning yellow"></i> Needs Verification
        </div>
        <div class="card-block p-3">
          <ng-container *ngIf="{ocr : loanCurrentOcr$ | async, loan: loanCurrent$ | async} as data">
            <app-form-title *ngIf="data.ocr && data.loan"
                            [ocr]="data.ocr"
                            [formData]="data.loan">
            </app-form-title>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-5" [ngClass]="compData.loanContactsShow ? 'col-lg-4' : 'col-lg-5' ">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-check green"></i> Verified
        </div>
        <div class="card-block p-3">
          <ng-container *ngIf="{loan: loanCurrent$ | async} as data">
            <app-form-title *ngIf="data.loan"
                            [formData]="data.loan">
            </app-form-title>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-2">
      <div class="card">
        <div class="card-header">
          <div class="btn-group float-right">
            <button class="btn btn-sm btn-secondary"
                    title="Toggle the Loan Contacts Sidebar"
                    *ngIf="{visible:  ui.loanContacts$ | async } as btn"
                    (click)="ui.loanContactsToggle()"
                    [ngClass]="{'active':btn.visible}">
              <i aria-hidden="true" class="fa fa-users"></i>
            </button>
              <button class="btn btn-sm btn-secondary"
                      title="Toggle Document Split Screen View"
                      (click)="ui.multiDocsToggle()"
                      [ngClass]="{'active': compData.multiDocs}">
                <i class="fa fa-window-restore" aria-hidden="true"></i>
              </button>
            <button class="btn btn-sm btn-secondary"
                    title="Close multi-screen view"
                    (click)="ui.multiScreenToggle()"
                    [ngClass]="{'active':compData.multiScreen}">
              <i class="fa fa-external-link-square" aria-hidden="true"></i>
            </button>
          </div>
          Actions
        </div>

        <div class="card-block p-2" *ngIf="loan?.exceptionReason && !exceptionCleared">
          <div class="alert alert-danger icon mb-0">
            {{loan?.exceptionReason}}
            <button class="btn btn-primary btn-sm mt-3" (click)="exceptionCleared = true"><i class="fa fa-remove"></i> Clear Exception</button>
          </div>
        </div>

        <app-loan-info></app-loan-info>
      </div>
    </div>

    <div class="col-12 col-lg-2" *ngIf="compData.loanContactsShow" style="height: calc(100vh - 98px);">
      <app-loan-contacts [loanNumber]="settings.lnkey" [contacts]="contacts$ | async"></app-loan-contacts>
    </div>

  </div>
</div>

