<div id="home" class="container-fluid" *ngIf="rows$ | async as rows">

  <!-- Filter datatable -->
  <!-- Filter datatable -->
  <form class="form-inline d-inline-block float-right">
    <label class="icon filter" style="position:relative;">
      <input class="form-control form-control-sm filterSearch" type="text" name="filterGlobal" placeholder="Filter loan num or borrower" [ngModel]="filterGlobal.term" (ngModelChange)="onfilterGlobal($event)" data-qa="hp-filter-global" />
      <a (click)="filterGlobal.term = null; onfilterGlobal()" *ngIf="filterGlobal.term" style="position:absolute;right: 10px;"><i class="fa fa-remove"></i></a>
    </label>
  </form>


  <ngb-tabset #tab="ngbTabset" class="nav-tabs-sm" activeId="tab-1">

    <ngb-tab id="tab-1">
      <ng-template ngbTabTitle>
        In Progress
      </ng-template>
      <ng-template ngbTabContent>
        <div class="card">
          <div class="card-block p-2">
            <div style="position: relative;height: calc(100vh - 160px);overflow-y: hidden;overflow-x: hidden;">
              <datagrid #datagrid
                        [rows]="rows.src | filter: false : 'certification'"
                        [columns]="columns"
                        [state]="state"
                        [options]="options"
                        [filterGlobal]="filterGlobal"
                        (onStateChange)="onStateChange($event)">

                <datagrid-column prop="lnkey">
                  <ng-template let-value="value" let-column="column" let-row="row" datagrid-cell-template>
                    <a [routerLink]="['/loan/'+value ]">{{value}}</a>
                  </ng-template>
                </datagrid-column>

                <datagrid-column prop="lockedBy">
                  <ng-template let-value="value" let-column="column" let-row="row" datagrid-cell-template>
                    <ng-container *ngIf="value">
                      <i class="fa fa-lock" aria-hidden="true"></i> {{value}}
                    </ng-container>
                  </ng-template>
                </datagrid-column>

                <datagrid-column prop="loanAmount"><ng-template let-value="value" let-column="column" let-row="row" datagrid-cell-template>{{value | currency}}</ng-template></datagrid-column>
                <datagrid-column prop="complete">
                  <ng-template let-value="value" let-column="column" let-row="row" datagrid-cell-template>
                    <div class="pr-4">
                      <ngb-progressbar type="success" [value]="100-value" *ngIf="100-value >= 80"></ngb-progressbar>
                      <ngb-progressbar type="warning" [value]="100-value" *ngIf="100-value < 80 && 100-value > 60"></ngb-progressbar>
                      <ngb-progressbar type="danger" [value]="100-value" *ngIf="100-value <= 60"></ngb-progressbar>
                    </div>
                  </ng-template>
                </datagrid-column>

              </datagrid>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab id="tab-2">
      <ng-template ngbTabTitle>
        Completed
      </ng-template>
      <ng-template ngbTabContent>
        <div class="card">
          <div class="card-block p-2">
            <div style="position: relative;height: calc(100vh - 160px);overflow-y: hidden;overflow-x: hidden;">
              <datagrid #datagrid
                        [rows]="rows.src | filter: true : 'certification'"
                        [columns]="columns"
                        [state]="state"
                        [options]="options"
                        [filterGlobal]="filterGlobal"
                        (onStateChange)="onStateChange($event)">

                <datagrid-column prop="lnkey">
                  <ng-template let-value="value" let-column="column" let-row="row" datagrid-cell-template>
                    <a [routerLink]="['/loan/'+value ]">{{value}}</a>
                  </ng-template>
                </datagrid-column>

                <datagrid-column prop="lockedBy">
                  <ng-template let-value="value" let-column="column" let-row="row" datagrid-cell-template>
                    <ng-container *ngIf="value">
                      <i class="fa fa-lock" aria-hidden="true"></i> {{value}}
                    </ng-container>
                  </ng-template>
                </datagrid-column>

                <datagrid-column prop="loanAmount"><ng-template let-value="value" let-column="column" let-row="row" datagrid-cell-template>{{value | currency}}</ng-template></datagrid-column>
                <datagrid-column prop="complete">
                  <ng-template let-value="value" let-column="column" let-row="row" datagrid-cell-template>
                    <div class="pr-4">
                      <ngb-progressbar type="success" [value]="100-value" *ngIf="100-value >= 80"></ngb-progressbar>
                      <ngb-progressbar type="warning" [value]="100-value" *ngIf="100-value < 80 && 100-value > 60"></ngb-progressbar>
                      <ngb-progressbar type="danger" [value]="100-value" *ngIf="100-value <= 60"></ngb-progressbar>
                    </div>
                  </ng-template>
                </datagrid-column>

              </datagrid>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab id="tab-3">
      <ng-template ngbTabTitle>
        Exceptions
      </ng-template>
      <ng-template ngbTabContent>
        <div class="card">
          <div class="card-block p-2">
            <div style="position: relative;height: calc(100vh - 160px);overflow-y: hidden;overflow-x: hidden;">
              <datagrid #datagrid
                        [rows]="rows.src | filter: true : 'exception'"
                        [columns]="columns"
                        [state]="state"
                        [options]="options"
                        [filterGlobal]="filterGlobal"
                        (onStateChange)="onStateChange($event)">

                <datagrid-column prop="lnkey">
                  <ng-template let-value="value" let-column="column" let-row="row" datagrid-cell-template>
                    <a [routerLink]="['/loan/'+value ]">{{value}}</a>
                  </ng-template>
                </datagrid-column>

                <datagrid-column prop="lockedBy">
                  <ng-template let-value="value" let-column="column" let-row="row" datagrid-cell-template>
                    <ng-container *ngIf="value">
                      <i class="fa fa-lock" aria-hidden="true"></i> {{value}}
                    </ng-container>
                  </ng-template>
                </datagrid-column>

                <datagrid-column prop="loanAmount"><ng-template let-value="value" let-column="column" let-row="row" datagrid-cell-template>{{value | currency}}</ng-template></datagrid-column>
                <datagrid-column prop="complete">
                  <ng-template let-value="value" let-column="column" let-row="row" datagrid-cell-template>
                    <div class="pr-4">
                      <ngb-progressbar type="success" [value]="100-value" *ngIf="100-value >= 80"></ngb-progressbar>
                      <ngb-progressbar type="warning" [value]="100-value" *ngIf="100-value < 80 && 100-value > 60"></ngb-progressbar>
                      <ngb-progressbar type="danger" [value]="100-value" *ngIf="100-value <= 60"></ngb-progressbar>
                    </div>
                  </ng-template>
                </datagrid-column>

              </datagrid>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>


  </ngb-tabset>



</div>

