<div id="home" class="container-fluid" *ngIf="rows$ | async as rows">

  <div appFullScreen style="position:relative;">

    <datagrid #datagrid
              [rows]="rows.src"
              [columns]="columns"
              [state]="state"
              [options]="options"
              [filterGlobal]="filterGlobal">

      <datagrid-column prop="lnkey">
        <ng-template let-value="value" let-column="column" let-row="row" datagrid-cell-template>
          <a [routerLink]="['/loan/'+value ]">{{value}}</a>
        </ng-template>
      </datagrid-column>

      <datagrid-column prop="loanAmount"><ng-template let-value="value" let-column="column" let-row="row" datagrid-cell-template>{{value | currency}}</ng-template></datagrid-column>

      <datagrid-column prop="borrower"><ng-template let-value="value" let-column="column" let-row="row" datagrid-cell-template><i aria-hidden="true" class="fa fa-check green" *ngIf="value"></i></ng-template></datagrid-column>
      <datagrid-column prop="vesting"><ng-template let-value="value" let-column="column" let-row="row" datagrid-cell-template><i aria-hidden="true" class="fa fa-check green" *ngIf="value"></i></ng-template></datagrid-column>
      <datagrid-column prop="property"><ng-template let-value="value" let-column="column" let-row="row" datagrid-cell-template><i aria-hidden="true" class="fa fa-check green" *ngIf="value"></i></ng-template></datagrid-column>
      <datagrid-column prop="liens"><ng-template let-value="value" let-column="column" let-row="row" datagrid-cell-template><i aria-hidden="true" class="fa fa-check green" *ngIf="value"></i></ng-template></datagrid-column>
      <datagrid-column prop="notes"><ng-template let-value="value" let-column="column" let-row="row" datagrid-cell-template><i aria-hidden="true" class="fa fa-check green" *ngIf="value"></i></ng-template></datagrid-column>
      <datagrid-column prop="certification"><ng-template let-value="value" let-column="column" let-row="row" datagrid-cell-template><i aria-hidden="true" class="fa fa-check green" *ngIf="value"></i></ng-template></datagrid-column>

    </datagrid>
  </div>
</div>

