/*styles for home content only*/
#home{
  #datagrid{
    .datagrid-cell-data .fa-full{display:block;text-align:center;font-size:1.1rem;position:relative;top:3px;}
  }
  .nav-link{padding: 0.5rem 1rem;font-size:0.7rem;}
}
