<div id="app-forms">

  <div class="mb-3">
    <div class="card">
      <div class="card-block" *ngIf="ui.formLoan$ | async as form">
          <app-loan-info (formRef)="formRef('info',$event)" *ngIf="form"></app-loan-info>
      </div>
    </div>
  </div>

  <ngb-tabset #tab="ngbTabset" class="nav-tabs-sm" [activeId]="tabStart">

    <ngb-tab id="tab-1">
      <ng-template ngbTabTitle>
        <i class="fa fa-warning yellow"></i> Needs Verification
      </ng-template>
      <ng-template ngbTabContent>
        <app-exceptions (formRef)="formRef('borrower',$event)"></app-exceptions>
      </ng-template>
    </ngb-tab>

    <ngb-tab id="tab-2">
      <ng-template ngbTabTitle>
        <i class="fa fa-check green"></i> Verified
      </ng-template>
      <ng-template ngbTabContent>
        <api-state [state]="status" [toaster]="true" [showSuccess]="false" *ngIf="formVestingStatus$ | async as status">
          <app-verified (formRef)="formRef('vesting',$event)" *ngIf="status.loaded"></app-verified>
        </api-state>
      </ng-template>
    </ngb-tab>

  </ngb-tabset>

</div>
