#app-forms{
  .nav-link{padding: 0.5rem;font-size:0.7rem;}
  .tab-pane{padding:1rem;background:#fff;}
  .btn{position:relative;}
  ngb-tabset{
    .tab-pane{height: calc(100vh - 345px); overflow-y: auto; overflow-x: hidden;}
  }
  @media (min-width: 1650px){
    .nav-link{padding: 0.5em 1rem;}
  }
}
