// Include global application specific styling here
//body{font-weight:normal;}

// Pink labs background
header .bg-mello { background-image: -webkit-gradient(linear,left top,left bottom,from(#e4b0c6),to(#f7276e));background-image: linear-gradient(180deg,#e4b0c6 0,#f7276e);}


.nav-tabs{
  .nav-link.active{position: relative; z-index: 2;}
  .nav-link{border-color: #eceeef #eceeef #ddd;}
}

.valign{position: relative;top: 50%;transform: translateY(-50%);}
.valign-inline{position: absolute;top: 50%;transform: translateY(-50%);}

.green{color: green;}
.yellow{color: #ffd63c;}
.red{color:red;}

.ocr-perc{right: 5px;font-style: italic;font-size: .7rem;}

.bg-complete{background-color: rgba(0,128,0,0.05);}
.bg-warning{background-color: rgba(255, 91, 91, 0.05);}

ngb-datepicker{
  .btn,btn:hover{box-shadow:none!important;}
}

.nav-tabs{border:0;
 .nav-link.active{position: relative; z-index: 2;top: 1px;}
}

app-form-row{display:block;}
app-form-row:nth-of-type(odd) .striped{background-color: rgba(0,0,0,.05);}

.for-review{ display: block;height: 12px;width: 12px;overflow: hidden;text-indent: -999px;border-radius: 3px;    position: relative;top: 2px;
  &.orange{background-color: #f7b733;background: -webkit-gradient(linear,left top,left bottom,from(#f7b733),to(#fc781a));background: linear-gradient(to bottom,#f7b733,#fc781a);}
  &.blue{background-color: #0575e6;background: -webkit-gradient(linear,left top,left bottom,from(#0575e6),to(#021b79));background: linear-gradient(to bottom,#0575e6,#021b79);}
  &.green{background-color: #56ab2f; background: -webkit-gradient(linear,left top,left bottom,from(#a8e063),to(#56ab2f));background: linear-gradient(to bottom,#a8e063,#56ab2f);}
  &.purple{background-color: #6a3093;background: -webkit-gradient(linear,left top,left bottom,from(#a044ff),to(#6a3093));background: linear-gradient(to bottom,#a044ff,#6a3093);}
  &.red{background-color: #870000;background: -webkit-gradient(linear,left top,left bottom,from(#e52d27),to(#b31217));background: linear-gradient(to bottom,#e52d27,#b31217);}
}
