<ng-container *ngIf="{
      tab : ui.tabViewer$ | async,
      docs:loanCurrentDocs$ | async,
      docGuid: docGuid$ | async,
      status : loanCurrentDocsStatus$ | async } as compData">

  <api-state [state]="compData?.status" [toaster]="true" [showSuccess]="false" *ngIf="compData?.status">

    <ng-container *ngIf="compData.docs && compData.docGuid">

      <div class="card">

        <div class="card-header">
          <div class="float-right">
            <small class="mr-2">

              Final Stamp:
              <i class="fa fa-check-square green" aria-hidden="true" *ngIf="compData.docs?.dict[compData.docGuid]?.finalStamp"></i>
              <i class="fa fa-square" aria-hidden="true" *ngIf="!compData.docs?.dict[compData.docGuid]?.finalStamp"></i> |

              For Review:
              <i class="fa fa-check-square green" aria-hidden="true" *ngIf="compData.docs?.dict[compData.docGuid]?.forReview"></i>
              <i class="fa fa-square" aria-hidden="true" *ngIf="!compData.docs?.dict[compData.docGuid]?.forReview"></i> |

              Side:
              <i class="fa fa-arrow-right green" *ngIf="compData.docs?.dict[compData.docGuid]?.rightSide"></i>
              <i class="fa fa-arrow-left" *ngIf="!compData.docs?.dict[compData.docGuid]?.rightSide"></i>
            </small>

            <div ngbDropdown class="d-inline-block" placement="bottom-right" #myDrop="ngbDropdown" (mouseenter)="$event.stopPropagation(); myDrop.open();">
              <button class="btn btn-secondary btn-sm" id="dropdownBasic1" ngbDropdownToggle>
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Documents ({{compData.docs.src.length}})
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item" [ngClass]="doc.docGuid == compData.docGuid ? 'active' : null"
                        (click)="ui.docViewerChange(doc.docGuid)"
                        *ngFor="let doc of compData.docs.src">
                  {{doc.docName}}
                </button>
              </div>
            </div>
          </div>
          <i class="fa fa-file-pdf-o" aria-hidden="true"></i> {{compData.docs?.dict[compData.docGuid]?.docName}}
        </div>
        
        <object [data]="compData.docs?.dict[compData.docGuid]?.docUrl | safe: 'resourceUrl'"
                type="application/pdf"
                class="w-100"
                style="border:0;height: calc(100vh - 154px);">
          <embed [src]="compData.docs?.dict[compData.docGuid]?.docUrl | safe: 'resourceUrl'" type="application/pdf" />
        </object>

      </div>

    </ng-container>
  </api-state>
</ng-container>
