<ng-container *ngIf="{ loan : loanCurrent$ | async, ocr : loanCurrentOcr$ | async, status : loanCurrentStatus$ | async } as compData">

  <api-state [state]="compData?.status" [toaster]="true" [showSuccess]="false" *ngIf="compData?.status">
    <form [formGroup]="formExceptions" id="formExceptions" *ngIf="compData?.ocr && compData?.loan">

      <div class="row">
        <div class="col-12 col-md-4">
          <strong>Field</strong>
        </div>
        <div class="col-12 col-md-4">
          <strong>Suggested Results</strong>
        </div>
        <div class="col-12 col-md-4">
          <strong>Loan Data</strong>
        </div>
      </div>

      <hr />
     
      <app-form-row label="Borrower Name/s"
                    field="Borrower"
                    fieldType="textarea"
                    [ocrValue]="compData?.ocr['Borrower']"
                    docTab="1"
                    [form]="formExceptions">
      </app-form-row>

      <app-form-row label="Marital Status"
                    field="MaritalStatusName"
                    fieldType="radio"
                    [fieldModel]="['Married','Un-Married','Registered/Domestic Partner']"
                    [ocrValue]="compData?.ocr['MaritalStatusName']"
                    docTab="2"
                    [form]="formExceptions">
      </app-form-row>

      <app-form-row label="Loan Purpose"
                    field="LoanPurposeName"
                    fieldType="radio"
                    [fieldModel]="['Purchase','Refinance']"
                    [ocrValue]="compData?.ocr['LoanPurposeName']"
                    docTab="3"
                    [form]="formExceptions">
      </app-form-row>


    </form>
  </api-state>
</ng-container>
