<ng-container *ngIf="{ loan : loanCurrent$ | async, ocr : loanCurrentOcr$ | async, status : loanCurrentStatus$ | async } as compData">

  <api-state [state]="compData?.status" [toaster]="true" [showSuccess]="false" *ngIf="compData?.status">
    <form [formGroup]="formExceptions" id="formExceptions" *ngIf="compData?.ocr && compData?.loan">

      <div class="row">
        <div class="col-12 col-md-3">
          <strong>Field</strong>
        </div>
        <div class="col-12 col-md-4">
          <strong>Suggested Results</strong>
        </div>
        <div class="col-12 col-md-5">
          <strong>Loan Data</strong>
        </div>
      </div>

      <hr />
     
   

    </form>
  </api-state>
</ng-container>
