<div id="formVesting">
  <form [formGroup]="formVesting">

    <table class="table table-sm table-striped" style="font-size:0.85rem;">
      <thead>
        <tr>
          <th></th>
          <th>Field</th>
          <th>OCR Result</th>
          <th>Empower Data</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>
            <i class="fa fa-check-square green" *ngIf="formVesting.get('nameFull').valid"></i>
            <i class="fa fa-warning yellow" *ngIf="!formVesting.get('nameFull').valid"></i>
          </td>
          <td>
            Full Name on Vesting<br />
            <small><em>DB: 7432</em></small>
          </td>
          <td>
            <button class="btn btn-secondary btn-sm w-100 text-left" (click)="updateForm('nameFull','John Smith&#013;Jane Smith')">
              <i class="fa fa-arrow-right float-right"></i>
              John Smith<br/>Jane Smith
            </button>
          </td>
          <!--
  <td>
    <button class="btn btn-primary btn-xs" (click)="updateForm('nameFull','John Smith&#013;Jane Smith')">
      <i class="fa fa-arrow-right"></i>
    </button>
  </td>
  -->
          <td>
            <textarea class="form-control form-control-sm" formControlName="nameFull"></textarea>
          </td>
        </tr>


        <tr>
          <td>
            <i class="fa fa-check-square green" *ngIf="formVesting.get('maritalStatus').valid"></i>
            <i class="fa fa-warning yellow" *ngIf="!formVesting.get('maritalStatus').valid"></i>
          </td>
          <td>
            Marital Status<br />
            <small><em>DB: 1623</em></small>
          </td>
          <td>
            <div class="btn-group-vertical w-100">
              <button class="btn btn-secondary btn-sm w-100 text-left" (click)="updateForm('maritalStatus','Married')">
                <i class="fa fa-arrow-right float-right"></i>
                Married <small><em>(85%)</em></small>
              </button>
              <button class="btn btn-secondary btn-sm w-100 text-left" (click)="updateForm('maritalStatus','Un-Married')">
                <i class="fa fa-arrow-right float-right"></i>
                Un-Married <small><em>(15%)</em></small>
              </button>
            </div>
          </td>
          <!--
  <td>
    <button class="btn btn-primary btn-xs" (click)="updateForm('maritalStatus','Married')">
      <i class="fa fa-arrow-right"></i>
    </button>
  </td>
  -->
          <td>
            <fieldset class="form-group">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" value="" formControlName="maritalStatus">
                  No Value
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" value="Married" formControlName="maritalStatus">
                  Married
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" value="Un-Married" formControlName="maritalStatus">
                  Un-Married
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" value="Registered/Domestic Partner" formControlName="maritalStatus">
                  Registered/Domestic Partner
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" value="Custom" formControlName="maritalStatus">
                  <input type="text" class="form-control form-control-sm form-control-inline" />
                </label>
              </div>
            </fieldset>
          </td>
        </tr>


        <tr>
          <td>
            <i class="fa fa-check-square green" *ngIf="formVesting.get('dateLastRecorded').valid"></i>
            <i class="fa fa-question-circle red" *ngIf="!formVesting.get('dateLastRecorded').valid"></i>
          </td>
          <td>
            Date Last Recorded Deed<br />
            <small><em>DB: 7301</em></small>
          </td>
          <td></td>
          <td style="position:relative;">
            <input type="hidden" ngbDatepicker #d="ngbDatepicker" name="dp" [ngModel]="dateLastRecorded" (ngModelChange)="dateChanged('dateLastRecorded', $event)" [ngModelOptions]="{standalone: true}" />
            <div class="input-group input-group-sm">
              <input class="form-control form-control-sm" formControlName="dateLastRecorded">
              <button class="btn btn-outline-secondary btn-sm input-group-addon" (click)="d.toggle()" type="button">
                <i class="fa fa-calendar"></i>
              </button>
            </div>
          </td>
        </tr>


        <tr>
          <td>
            <i class="fa fa-check-square green" *ngIf="formVesting.get('trust').valid"></i>
            <i class="fa fa-warning yellow" *ngIf="!formVesting.get('trust').valid"></i>
          </td>
          <td>
            Closing in a Trust<br />
            <small><em>DB: 4231</em></small>
          </td>
          <td>
            <button class="btn btn-secondary btn-sm w-100 text-left" (click)="updateForm('trust','Yes')">
              <i class="fa fa-arrow-right float-right"></i>
              Yes
            </button>
          </td>
          <!--
  <td>
    <button class="btn btn-primary btn-xs" (click)="updateForm('trust','Yes')">
      <i class="fa fa-arrow-right"></i>
    </button>
  </td>
  -->
          <td>
            <fieldset class="form-group">
              <div class="form-check">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="No Value" formControlName="trust">
                    No Value
                  </label>
                </div>
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" value="Yes" formControlName="trust">
                  Yes - <small><em>Need approval from Trust Docs Department</em></small>
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" value="No" formControlName="trust">
                  No
                </label>
              </div>
            </fieldset>
          </td>
        </tr>


        <tr>
          <td>
            <i class="fa fa-check-square green" *ngIf="formVesting.get('spousalSig').valid"></i>
            <i class="fa fa-warning yellow" *ngIf="!formVesting.get('spousalSig').valid"></i>
          </td>
          <td>
            Spousal Signature Required<br />
            <small><em>DB: 5312</em></small>
          </td>
          <td>
            <button class="btn btn-secondary btn-sm w-100 text-left" (click)="updateForm('spousalSig','Yes')">
              <i class="fa fa-arrow-right float-right"></i>
              Yes
            </button>
          </td>
          <!--
  <td>
    <button class="btn btn-primary btn-xs" (click)="updateForm('spousalSig','Yes')">
      <i class="fa fa-arrow-right"></i>
    </button>
  </td>
  -->
          <td>
            <fieldset class="form-group">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" value="No Value" formControlName="spousalSig">
                  No Value
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" value="Yes" formControlName="spousalSig">
                  Yes
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" value="No" formControlName="spousalSig">
                  No
                </label>
              </div>
            </fieldset>
          </td>
        </tr>

        <tr>
          <td>
            <i class="fa fa-check-square green" *ngIf="formVesting.get('ownerShipType').valid"></i>
            <i class="fa fa-warning yellow" *ngIf="!formVesting.get('ownerShipType').valid"></i>
          </td>
          <td>
            Type of Ownership<br />
            <small><em>DB: 8512</em></small>
          </td>
          <td>
            <!--
    <a (click)="ui.tabChange('viewer',1)">Land Contract</a>
    <hr/>
    -->
            <div class="btn-group-vertical w-100">
              <button class="btn btn-secondary btn-sm w-100 text-left" (click)="updateForm('ownerShipType','Fee Simple')">
                <i class="fa fa-arrow-right float-right"></i>
                Fee Simple <small><em>(76%)</em></small>
              </button>
              <button class="btn btn-secondary btn-sm w-100 text-left" (click)="updateForm('ownerShipType','Land Contract')">
                <i class="fa fa-arrow-right float-right"></i>
                Land Contract <small><em>(24%)</em></small>
              </button>
            </div>

          </td>
          <!--
  <td>
    <button class="btn btn-primary btn-xs" (click)="updateForm('ownerShipType','Land Contract')">
      <i class="fa fa-arrow-right"></i>
    </button>
  </td>
  -->
          <td>
            <fieldset class="form-group">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" value="No Value" formControlName="ownerShipType">
                  No Value
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" value="Fee Simple" formControlName="ownerShipType">
                  Fee Simple
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" value="Land Contract" formControlName="ownerShipType">
                  Land Contract
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" value="Life Estate" formControlName="ownerShipType">
                  Life Estate
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" value="Leasehold" formControlName="ownerShipType">
                  Leasehold
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" value="Custom" formControlName="ownerShipType">
                  <input type="text" class="form-control form-control-sm form-control-inline" (click)="updateForm('ownerShipType','Custom')" />
                </label>
              </div>
            </fieldset>
          </td>
        </tr>
      </tbody>
    </table>
    <hr />
  </form>

</div>
