<ng-container *ngIf="{loan: ui.formLoan$ | async, hasUpdate: ui.loanHasUpdate$ | async } as compData">

  <form [formGroup]="formInfo" id="loanInfo">
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="form-group row mb-0">
          <label for="example-text-input" class="col-6 col-form-label small">Loan#</label>
          <div class="col-6">
            <input class="form-control form-control-sm" type="text" formControlName="lnkey">
          </div>
        </div>
        <div class="form-group row mb-0">
          <label for="example-text-input" class="col-6 col-form-label small">Borrower</label>
          <div class="col-6">
            <input class="form-control form-control-sm" type="text" formControlName="name" id="example-text-input">
          </div>
        </div>
        <div class="form-group row mb-0">
          <label for="example-text-input" class="col-6 col-form-label small">Loan Amount</label>
          <div class="col-6">
            <input class="form-control form-control-sm" type="text" formControlName="loanAmount" id="example-text-input">
          </div>
        </div>

        <div class="form-group row mb-0" style="position:relative;">
          <label for="example-text-input" class="col-6 col-form-label small">Title Effective Date</label>
          <div class="col-6">
            <div class="input-group input-group-sm">
              <input class="form-control form-control-sm" formControlName="dateEffective">
              <button class="btn btn-outline-secondary btn-sm input-group-addon" (click)="d2.close();d.toggle()" type="button">
                <i class="fa fa-calendar"></i>
              </button>
            </div>
          </div>
          <input type="hidden" ngbDatepicker #d="ngbDatepicker" name="dp" [ngModel]="dateEffective" (ngModelChange)="dateChanged('dateEffective', $event)" [ngModelOptions]="{standalone: true}" />
        </div>

        <div class="form-group row mb-0" style="position:relative;">
          <label for="example-text-input" class="col-6 col-form-label small">Title Expiration Date</label>
          <div class="col-6">
            <div class="input-group input-group-sm">
              <input class="form-control form-control-sm" formControlName="dateExpiration">
              <button class="btn btn-outline-secondary btn-sm input-group-addon" (click)="d.close();d2.toggle()" type="button">
                <i class="fa fa-calendar"></i>
              </button>
            </div>
          </div>
          <input type="hidden" ngbDatepicker #d2="ngbDatepicker" name="dp" [ngModel]="dateExpiration" (ngModelChange)="dateChanged('dateExpiration', $event)" [ngModelOptions]="{standalone: true}" />
        </div>

      </div>
      <div class="col-12 col-md-4">
        <button class="btn btn-sm mb-2 w-100"
                (click)="loanSave()"
                [ngClass]="{'btn-primary ': compData.hasUpdate, 'btn-secondary ': !compData.hasUpdate  }">
          Save to Empower
        </button>
        <button class="btn btn-sm btn-secondary mb-2 w-100">Open in Empower</button>
      </div>
    </div>
  </form>

</ng-container>
