<form [formGroup]="formBorrower">
  <table class="table table-sm table-striped" style="font-size:0.85rem;">
    <thead>
      <tr>
        <th></th>
        <th>Field</th>
        <th>OCR Result</th>
        <th>Empower Data</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <i class="fa fa-check-square green" *ngIf="formBorrower.get('borrower').valid"></i>
          <i class="fa fa-warning yellow" *ngIf="!formBorrower.get('borrower').valid"></i>
        </td>
        <td>
          Borrower Name/s<br />
          <small><em>3214</em></small>
        </td>
        <td>
          <button class="btn btn-secondary btn-sm w-100 text-left" (click)="updateForm('borrower','John Smith&#013;Jane Smith')">
            <i class="fa fa-arrow-right float-right"></i>
            John Smith<br />Jane Smith
          </button>
        </td>
        <td>
          <textarea class="form-control form-control-sm" formControlName="borrower"></textarea>
        </td>
      </tr>
      <tr>
        <td>
          <i class="fa fa-check-square green" *ngIf="formBorrower.get('maritalStatus').valid"></i>
          <i class="fa fa-warning yellow" *ngIf="!formBorrower.get('maritalStatus').valid"></i>
        </td>
        <td>
          Marital Status<br />
          <small><em>9512</em></small>
        </td>
        <td>
          <div class="btn-group-vertical w-100">
            <button class="btn btn-secondary btn-sm w-100 text-left" (click)="updateForm('maritalStatus','Married')">
              <i class="fa fa-arrow-right float-right"></i>
              Married <small><em>(85%)</em></small>
            </button>
            <button class="btn btn-secondary btn-sm w-100 text-left" (click)="updateForm('maritalStatus','Un-Married')">
              <i class="fa fa-arrow-right float-right"></i>
              Un-Married <small><em>(15%)</em></small>
            </button>
          </div>
        </td>
        
        <td>
          <fieldset class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" value="" formControlName="maritalStatus">
                No Value
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" value="Married" formControlName="maritalStatus">
                Married
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" value="Un-Married" formControlName="maritalStatus">
                Un-Married
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" value="Registered/Domestic Partner" formControlName="maritalStatus">
                Registered/Domestic Partner
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" value="Custom" formControlName="maritalStatus">
                <input type="text" class="form-control form-control-sm form-control-inline" />
              </label>
            </div>
          </fieldset>
        </td>
      </tr>
    </tbody>
  </table>
</form>
