<ng-container *ngIf="!lnkey">
  <div class="container-fluid pt-3">
    <p>Please open a loan in order to view documents.</p>
  </div>
</ng-container>

<ng-container *ngIf="lnkey && docs && docGuid">
  <div class="card pdf" id="app-viewer">
    <div class="card-header">
      <div class="float-right">
        <small class="mr-2">
          <em class="e2e-created-by">JKrause</em> |
          <em class="e2e-created-on">02/24/2018</em> |
          <i class="fa fa-arrow-right e2e-side" title="Side" *ngIf="docs?.dict[docGuid]?.rightSide"></i>
          <i class="fa fa-arrow-left e2e-side" title="Side" *ngIf="!docs?.dict[docGuid]?.rightSide"></i> |

          <ng-container *ngIf="docs?.dict[docGuid]?.forReview">
            <i class="fa fa-square e2e-for-review {{docs?.dict[docGuid]?.forReview}}" aria-hidden="true" title="For Review"></i> |
          </ng-container>

          <i class="fa fa-check-square green e2e-final-stamp" title="Final Stamp" aria-hidden="true" *ngIf="docs?.dict[docGuid]?.finalStamp"></i>
          <i class="fa fa-square e2e-final-stamp" title="Final Stamp" aria-hidden="true" *ngIf="!docs?.dict[docGuid]?.finalStamp"></i>
        </small>

        <div ngbDropdown class="d-inline-block" placement="bottom-right" #myDrop="ngbDropdown"
             (mouseenter)="$event.stopPropagation(); myDrop.open();"
             (mouseleave)="$event.stopPropagation(); myDrop.close();">
          <button class="btn btn-secondary btn-sm e2e-dropdown-docs"
                  id="dropdownBasic1" ngbDropdownToggle>
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i> <span class="hidden-lg-down">Docs ({{docs.src.length}})</span>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="e2e-dropdown-docs-list">
            <button class="dropdown-item" [ngClass]="doc.docGuid == docGuid ? 'active' : null"
                    (click)="ui.docViewerChange(instance, doc.docGuid, pageNumber, bounds)"
                    *ngFor="let doc of docs.src">
              {{doc.docName}}
            </button>
          </div>

        </div>

        |
        <div class="btn-group">
          <button class="btn btn-sm btn-secondary e2e-splitscreen" title="Toggle Document Split Screen View"
                  (click)="ui.multiDocsToggle()"
                  [ngClass]="{'active':multiDocs}">
            <i class="fa fa-window-restore" aria-hidden="true"></i>
          </button>
          <button class="btn btn-sm btn-secondary e2e-multiscreen" title="Open multi-screen view"
                  *ngIf="ui.screen || !multiScreen"
                  (click)="ui.multiScreenToggle()"
                  [ngClass]="{'active':multiScreen}">
            <i class="fa fa-external-link-square" aria-hidden="true"></i>
          </button>
        </div>

      </div>
      <i class="fa fa-file-pdf-o" aria-hidden="true"></i> <strong class="e2e-docname">{{docs?.dict[docGuid]?.docName}} <em>({{lnkey}})</em></strong>
    </div>
    
    <!-- Annotate demo,  | safe: 'resourceUrl' -->
    <iframe *ngIf="!demo"
            id="pdfViewer"
            [src]="'//loandepot.webhop.net/TitleWorkflow/docannotations.aspx?docid=' + docGuid | safe: 'resourceUrl'"
            style="border:0;top: 52px;" class="w-100 pdf e2e-document"></iframe>

    <!-- Local fallback if not on remote server -->
    <object *ngIf="demo"
            id="pdfViewer"
            [data]="docs?.dict[docGuid]?.docUrl | safe: 'resourceUrl'"
            type="application/pdf"
            class="w-100 pdf e2e-document" style="top: 52px;">
      <embed [src]="docs?.dict[docGuid]?.docUrl | safe: 'resourceUrl'" type="application/pdf" />
    </object>

  </div>

</ng-container>
