<div id="app-viewer-route" *ngIf="{
      docs:loanCurrentDocs$ | async,
      docViewerGuids: ui.docViewerGuids$ | async,
      multiScreen: ui.multiScreen$ | async,
      multiDocs: ui.multiScreenDocs$ | async,
      status : loanCurrentDocsStatus$ | async } as compData">
  <api-state [state]="compData?.status" [toaster]="true" [showSuccess]="false" *ngIf="compData?.status">

    <!-- Integrated doc viewer -->
    <ng-container *ngIf="!isStandalone">
      <div class="viewer" [ngClass]="compData.multiDocs ? 'half' : null" id="app-viewer-route">
        <app-document-viewer instance="0"
                             [docGuid]="compData?.docViewerGuids[0]"
                             [docs]="compData.docs"
                             [multiDocs]="compData.multiDocs"
                             [multiScreen]="compData.multiScreen">
        </app-document-viewer>
      </div>

      <div class="viewer half bottom" id="app-viewer-route" *ngIf="compData.multiDocs">
        <app-document-viewer instance="1"
                             [docGuid]="compData?.docViewerGuids[1]"
                             [docs]="compData.docs"
                             [multiDocs]="compData.multiDocs"
                             [multiScreen]="compData.multiScreen">
        </app-document-viewer>
      </div>
    </ng-container>

    <!-- Standalone doc viewer -->
    <ng-container *ngIf="isStandalone">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12" [ngClass]="compData.multiDocs ? 'col-md-6' : null" style="height: 100vh;">
            <app-document-viewer instance="0"
                                 [docGuid]="compData?.docViewerGuids[0]"
                                 [docs]="compData.docs"
                                 [multiDocs]="compData.multiDocs"
                                 [multiScreen]="compData.multiScreen">
            </app-document-viewer>
          </div>
          <div class="col-12 col-md-6" *ngIf="compData.multiDocs" style="height: 100vh;">
            <app-document-viewer instance="1"
                                 [docGuid]="compData?.docViewerGuids[1]"
                                 [docs]="compData.docs"
                                 [multiDocs]="compData.multiDocs"
                                 [multiScreen]="compData.multiScreen">
            </app-document-viewer>
          </div>
        </div>
      </div>
    </ng-container>

  </api-state>
</div>
