<div id="app-viewer-route" *ngIf="{
      docs:loanCurrentDocs$ | async,
      docViewerGuids: ui.docViewerGuids$ | async,
      multiScreen: ui.multiScreen$ | async,
      multiDocs: ui.multiScreenDocs$ | async,
      status : loanCurrentDocsStatus$ | async } as compData">
  <api-state [state]="compData?.status" [toaster]="true" [showSuccess]="false" *ngIf="compData?.status">

    <!--
    <div class="btn-group float-right">
      <button class="btn btn-sm" (click)="ui.multiDocsToggle()" title="Toggle Document Split Screen View" [ngClass]="compData.multiDocs ? 'btn-primary' : 'btn-secondary'">
        <i class="fa fa-window-restore" aria-hidden="true"></i>
      </button>
      <button class="btn btn-sm" (click)="ui.multiScreenToggle()" title="Open multi-screen view" [ngClass]="compData.multiScreen ? 'btn-primary' : 'btn-secondary'">
        <i class="fa fa-external-link-square" aria-hidden="true"></i>
      </button>
    </div>
    -->
    <div class="viewer" [ngClass]="compData.multiDocs ? 'half' : null" id="app-viewer-route">
      <app-document-viewer instance="0"
                           [docGuid]="compData?.docViewerGuids[0]"
                           [docs]="compData.docs"
                           [multiDocs]="compData.multiDocs"
                           [multiScreen]="compData.multiScreen">
      </app-document-viewer>
    </div>

    <div class="viewer half bottom" id="app-viewer-route" *ngIf="compData.multiDocs">
      <app-document-viewer instance="1"
                           [docGuid]="compData?.docViewerGuids[1]"
                           [docs]="compData.docs"
                           [multiDocs]="compData.multiDocs"
                           [multiScreen]="compData.multiScreen">
      </app-document-viewer>
    </div>


    <!--
  <ngb-tabset #tab="ngbTabset" class="nav-tabs-sm" [activeId]="tabStart">

    <ngb-tab id="tab-1">
      <ng-template ngbTabTitle>
        <i class="fa fa fa-file-pdf-o"></i> Document Viewer
      </ng-template>
      <ng-template ngbTabContent>




      </ng-template>
    </ngb-tab>

    <ngb-tab id="tab-2">
      <ng-template ngbTabTitle>
        <i class="fa fa-globe" aria-hidden="true"></i> Web Browser
      </ng-template>
      <ng-template ngbTabContent>
        <app-web-tool>
        </app-web-tool>
      </ng-template>
    </ngb-tab>

    </ngb-tabset>
    -->


  </api-state>
</div>
