<div class="row pt-2 pb-2 striped" [formGroup]="form">

  <div class="col-12" [ngClass]="ocrValue ? 'col-md-3' : 'col-md-5'">

    <ng-container *ngIf="viewModel.required">
      <i class="fa fa-check-square green" *ngIf="form.get(viewModel.field)?.valid"></i>
      <i class="fa fa-warning yellow" *ngIf="!form.get(viewModel.field)?.valid"></i>
    </ng-container>
    <ng-container *ngIf="!viewModel.required">
      <i class="fa fa-question-circle" style="color: #99a7b9;" aria-hidden="true" *ngIf="!form.get(viewModel.field)?.value"></i>
      <i class="fa fa-check-square green" *ngIf="form.get(viewModel.field)?.value"></i>
    </ng-container>

    <a (click)="ui.docViewerChange(0,docID)">{{viewModel.label}}</a>

    <ng-container *ngIf="ocrValue">
      <br />
      <small>
        <app-launch-modal classes="pl-3" modal="ConfirmationModalComponent" size="md" [data]="'Add a condition for ' + label + '?'" [isButton]="false"
                          (onSuccess)="conditionAdd($event)">
          <i class="fa fa-plus"></i> Add Condition
        </app-launch-modal>
      </small>
    </ng-container>
  </div>

  <div class="col-12 col-md-4" *ngIf="ocrValue" [ngClass]="ocrValue ? 'col-md-4' : null">

    <div class="btn-group-vertical w-100">
      <ng-container *ngIf="!hasFuzzyMatch">
        <ng-container *ngTemplateOutlet="ocrValueTemplate;context:{$implicit: ocrValue, value: ocrValue, form: form, field: field }"></ng-container>
      </ng-container>
      <ng-container *ngIf="hasFuzzyMatch">
        <ng-container *ngFor="let value of ocrValue">
          <ng-container *ngTemplateOutlet="ocrValueTemplate;context:{$implicit: value, value: value, form: form, field: field }"></ng-container>
        </ng-container>
      </ng-container>
    </div>

  </div>

  <div class="col-12 d-flex align-items-stretch" [ngClass]="ocrValue ? 'col-md-5' : 'col-md-7'" style="position:relative;">
    <div class="w-100" (dblclick)="editToggle($event)" [ngClass]="editing ? 'editing' : 'editable'">

      <div class="float-right icon-action">
        <a *ngIf="!editing" (click)="editToggle($event)" title="Edit this field manually">
          <i class="fa fa-gear"></i>
        </a>
        <a *ngIf="editing" (click)="editToggle($event);updateForm(viewModel.field,valuePrev)" title="Cancel manuel edit and remove value">
          <i class="fa fa-remove"></i>
        </a>

        <ng-container *ngIf="form.value[viewModel.field] != valuePrev && !editing">
          <br />
          <a (click)="updateForm(viewModel.field,valuePrev)" title="Undo changes to this field">
            <i class="fa fa-undo" aria-hidden="true"></i>
          </a>
        </ng-container>

      </div>


      <ng-container *ngIf="!editing">
        <ng-container *ngIf="form.value[viewModel.field]">
          {{form.value[viewModel.field]}}
        </ng-container>
        <ng-container *ngIf="!form.value[viewModel.field]">
          <em>None</em>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="editing">

        <!-- Input -->
        <ng-container *ngIf="viewModel.fieldType == 'input'">
          <input class="form-control form-control-sm" rows="3" style="position:relative;z-index:1;" [formControlName]="viewModel.field" />
        </ng-container>

        <!-- Text area-->
        <ng-container *ngIf="viewModel.fieldType == 'textarea'">
          <textarea class="form-control form-control-sm" rows="3" style="position:relative;z-index:1;" [formControlName]="viewModel.field"></textarea>
        </ng-container>

        <!-- Date box-->
        <ng-container *ngIf="viewModel.fieldType == 'date'">
          <div class="input-group input-group-sm">
            <input class="form-control form-control-sm" [formControlName]="viewModel.field">
            <button class="btn btn-outline-secondary btn-sm input-group-addon" (click)="d.toggle()" type="button">
              <i class="fa fa-calendar"></i>
            </button>
          </div>
          <input type="hidden" ngbDatepicker #d="ngbDatepicker" name="dp" [ngModel]="dateEffective" (ngModelChange)="dateChanged(viewModel.field, $event)" [ngModelOptions]="{standalone: true}" />
        </ng-container>

        <!-- Radio -->
        <ng-container *ngIf="viewModel.fieldType == 'radio'">
          <fieldset class="form-group" *ngIf="viewModel.fieldModel">
            <div class="form-check" *ngFor="let model of viewModel.fieldModel">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" [value]="model" [formControlName]="viewModel.field">
                {{model}}
              </label>
            </div>
            <div class="form-check" *ngIf="viewModel.radioFreeform">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" value="" [formControlName]="viewModel.field">
                <input type="text" class="form-control form-control-sm form-control-inline" />
              </label>
            </div>
          </fieldset>
        </ng-container>

      </ng-container>

    </div>
  </div>
</div>

<!-- OCR button template -->
<ng-template #ocrValueTemplate let-value="value" let-form="form" let-field="field">
  <button class="btn btn-sm w-100 text-left btn-secondary"
          [disabled]="editing || form.value[field] == value"
          (click)="updateForm(viewModel.field,value)">
    <i class="fa fa-arrow-right float-right" *ngIf="form.value[field] != value"></i>
    <i class="fa fa-check float-right" *ngIf="form.value[field] == value"></i>
    {{value}}
  </button>
</ng-template>
