.notes .form-group {
    margin: 0 !important;
}

.accordion-sm field-component label.col-form-label.col-12 {
    text-align: right;
    flex: 0 0 66%;
    max-width: 66.66667%;
}

.accordion-sm field-component .form-group div.col-12.col-md-8 {
    text-align: left;
    flex: 0 0 33%;
    max-width: 33.66667%;
}

.accordion-sm .card .card-body.show {
    overflow: hidden;
}

.saveSettings {
    background: #ededed;
    margin-top: 8px;
}

.accordion-sm .saveSettings field-component label.col-form-label.col-12 {
    flex: 0 0 83.7%;
    max-width: 84%;
}

.accordion-sm .saveSettings field-component .form-group div.col-12.col-md-8 {
    flex: 0 0 10%;
    max-width: 10%;
}
