<div id="conditionsModal">

  <div class="modal-header">
    <h3 class="modal-title">
      <i class="fa fa-pencil" aria-hidden="true"></i> Add Condition
    </h3>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body p-4" id="modal-body">

    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleRadios" [(ngModel)]="condition" id="exampleRadios1" value="option1">
      <label class="form-check-label" for="exampleRadios1">
        Borrower to sign AKA Affidavit due to name variations.
      </label>
    </div>

    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleRadios" [(ngModel)]="condition" id="exampleRadios2" value="option2">
      <label class="form-check-label" for="exampleRadios2">
        Verify borrowers identity using a front and back copy of a valid government-issued photo identification.
      </label>
    </div>

    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleRadios" [(ngModel)]="condition" id="exampleRadios3" value="option3">
      <label class="form-check-label" for="exampleRadios3">
        Borrower to provide evidence of legal name, there is a name variance between vesting name and the applicants name.
      </label>
    </div>

    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleRadios" [(ngModel)]="condition" id="exampleRadios4" value="option4">
      <label class="form-check-label" for="exampleRadios4">
        FHA Case Number must be updated to match the borrowers name on title vesting.
      </label>
    </div>

    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleRadios" [(ngModel)]="condition" id="exampleRadios5" value="option5">
      <label class="form-check-label" for="exampleRadios5">
        VA Case Number must be updated to match the borrowers name on title vesting.
      </label>
    </div>

    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleRadios" [(ngModel)]="condition" id="exampleRadios6" value="option6">
      <label class="form-check-label" for="exampleRadios6">
        HOI Policy must be updated to match the borrowers name on title vesting.
      </label>
    </div>


    <div class="form-check">
      <input class="form-check-input" type="radio" [(ngModel)]="condition" name="exampleRadios" id="exampleRadios7" value="custom">
      <label class="form-check-label" for="exampleRadios7">
        <textarea class="form-control" (click)="condition = 'custom'" placeholder="Enter custom condition..."></textarea>
      </label>
    </div>
    <hr />
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-12 col-md-4">
            <strong>Type</strong>
          </div>
          <div class="col-12 col-md-8">
            <div class="form-check mb-2">
              <input class="form-check-input" type="radio" name="type" [(ngModel)]="type" id="type1" value="PTA">
              <label class="form-check-label" for="type1">
                PTA
              </label>
            </div>

            <div class="form-check mb-2">
              <input class="form-check-input" type="radio" name="type" [(ngModel)]="type" id="type2" value="PTD">
              <label class="form-check-label" for="type2">
                PTD
              </label>
            </div>

            <div class="form-check mb-2">
              <input class="form-check-input" type="radio" name="type" [(ngModel)]="type" id="type3" value="PTF">
              <label class="form-check-label" for="type3">
               PTF
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-12 col-md-4">
            <strong>Who</strong>
          </div>
          <div class="col-12 col-md-8">
            <div class="form-check mb-2">
              <input class="form-check-input" type="radio" name="type" [(ngModel)]="who" id="who1" value="Title Reviewer">
              <label class="form-check-label" for="who1">
                Title Reviewer
              </label>
            </div>

            <div class="form-check mb-2">
              <input class="form-check-input" type="radio" name="type" [(ngModel)]="who" id="who2" value="UW">
              <label class="form-check-label" for="who2">
                UW
              </label>
            </div>

            <div class="form-check mb-2">
              <input class="form-check-input" type="radio" name="type" [(ngModel)]="who" id="who3" value="Processor">
              <label class="form-check-label" for="who3">
                Processor
              </label>
            </div>

            <div class="form-check mb-2">
              <input class="form-check-input" type="radio" name="type" [(ngModel)]="who" id="who4" value="Funder">
              <label class="form-check-label" for="who4">
                Funder
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>

  <div class="modal-footer" style="justify-content: space-between;">
    <button type="button" class="btn btn-interact-outline float-left pull-left dismiss" (click)="activeModal.dismiss('Close click')">Cancel</button>
    <button type="button" class="btn btn-interact submit" (click)="submit()" aria-label="Close" [disabled]="!condition" [ngClass]="{'btn-waiting':waiting}">
      <i class="fa fa-pencil" aria-hidden="true"></i> Add Condition
    </button>
  </div>

</div>
